<carousel [cellWidth]="300">
  <div class="carousel-cell">
    <img src="assets/imagenes/bocinas2.jpg" alt="Imagen_1">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/mouse.jpg" alt="Imagen_2">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/teclado.jpg" alt="Imagen_3">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/audifonos.jpg" alt="Imagen_4">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/monitor3.png" alt="Imagen_5">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/impresora.jfif" alt="Imagen_6">
  </div>
  <div class="carousel-cell">
    <img src="assets/imagenes/celulares.png" alt="Imagen_7">
  </div>
</carousel>
