<!-- SIDEBAR-->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-success bg-opacity-10" style="width: 310px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
    <svg class="bi me-2" width="40" height="32"></svg>
    <span class="fs-4">{{productos}}</span>
  </a>

  <hr class="bg-success" size="5">

  <ul class="nav nav-pills flex-column mb-auto ">
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        {{audifonos}}
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-black" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        {{bocinas}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        {{celulares}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        {{computadoras}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        {{discos}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        {{impresoras}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        {{mouses}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        {{monitores}}
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        {{teclados}}
      </a>
    </li>


  </ul>

  <hr class="bg-success" size="5">

</div>
