<div class="row" id="cards_completas">

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/oferta_audifonos.jpg" class="card-img-top" alt="ofer_audifonos">
      <div class="card-body">
        <h5 class="card-title">{{oferta1}}</h5>
        <p class="card-text">{{descip_oferta1}}</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img id="card_corriente"  src="assets/imagenes/corriente.jpg" class="card-img-top" alt="tomacorriente" style="max-width:55%;width:auto;height:auto;">
      <div class="card-body">
        <h5 class="card-title">{{nuevo_ingreso}}</h5>
        <p class="card-text">{{descrip_new_ingreso}}</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/imagenes/cupon.jpg" class="card-img-top" alt="cupon">
      <div class="card-body">
        <h5 class="card-title">{{oferta2}}</h5>
        <p class="card-text">{{descip_oferta2}}</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>

</div>
